<div id="wrapper" class="wrapper">
	
<app-nav></app-nav>

<div class="content-wrapper">
	
<app-sidebar></app-sidebar>

<main class="main-wrapper clearfix pt-4">
	<!-- Page Title Area -->
	<!-- <div class="container-fluid">
						<div class="row page-title clearfix">
											<div class="page-title-left">
																<h6 class="page-title-heading mr-0 mr-r-5">Blank Page</h6>
																<p class="page-title-description mr-0 d-none d-md-inline-block">statistics, charts and events</p>
											</div>
											<div class="page-title-right d-none d-sm-inline-flex">
																<ol class="breadcrumb">
																					<li class="breadcrumb-item"><a href="index.html">Dashboard</a>
																</li>
																<li class="breadcrumb-item active">Blank Page</li>
											</ol>
						</div>
	</div>
</div> -->


<app-breadcrums></app-breadcrums>
<router-outlet></router-outlet>
<!-- /.container-fluid -->
</main>

</div>
</div>