<div class="container-fluid px-0">
	<div class="widget-list">
		<div class="row">
			<div class="widget-holder col-md-12">
				<div class="widget-bg">
					<div class="widget-heading widget-heading-border">
						<div class="dataTables_length mt-0" id="myTable_length">
							<label class="h6 text-themecolor m-0">Estadísticas de
								<select [ngModel]="selectMes" (change)="mesChange($event.target.value)" name="myTable_length">
									<option *ngFor="let m of meses; let i = index" value="{{i}}">{{m}}</option>
								</select>
								<select [ngModel]="selectAnio" (change)="anioChange($event.target.value)" name="myTable_length" class="float-right">
									<option *ngFor="let a of anios" value="{{a}}">{{a}}</option>
								</select>
							</label>
						</div>
						<!-- <button (click)="nuevoHorario()" class="btn btn-primary text-uppercase ml-auto d-flex">Filtrar</button> -->
					</div>
					<!-- /.widget-heading -->
					<div class="widget-body pt-1">
						
						<div class="d-block">
							
							<div class="row">
								
								<div class="col-sm-12 mb-3">
									
									<canvas baseChart height="200" width="900"
									*ngIf="consultasChartData.length > 0"
									[data]="consultasChartData"
									[labels]="consultasChartLabels"
									[chartType]="doughnutChartType"></canvas>
									
								</div>
								
								
								<div class="col-sm-4 mb-1 pr-0">
									<label class="mb-0">Estado</label>
									
									<select (change)="aplicarFiltros()" [(ngModel)]="tipo" class="form-control mr-2">
										<option value="" selected="">Todo</option>
										<option value="CONSULTA">Consulta</option>
										<option value="RESERVADO">Reservado</option>
										<option value="FINALIZADO">Finalizado</option>
										<option value="CANCELADO">Cancelado</option>
									</select>
								</div>
								<div class="col-sm-4 mb-1 pr-0">
									<label class="mb-0">Espacio</label>
									<select (change)="aplicarFiltros()" [(ngModel)]="place" class="form-control mr-2">
										<option value="" selected="">Todo</option>
										<option *ngFor="let p of places" [value]="p._id">{{ p.name }}</option>
									</select>
								</div>
								<div class="col-sm-4 mb-1 pr-0">
									<label class="mb-0">Medio de contacto</label>
									<select (change)="aplicarFiltros()" [(ngModel)]="contact" class="form-control mr-2">
										<option value="" selected="">Todo</option>
										
										<option value="E-mail">E-mail</option>
										<option value="Personalmente">Personalmente</option>
										<option value="Redes Sociales">Redes Sociales</option>
										<option value="Teléfono">Teléfono</option>
										<option value="WhatsApp">WhatsApp</option>
									</select>
								</div>
							</div>
							
						</div>
						
						<div class="w-100 mt-4">
							<table datatable [dtOptions]="dtOptions" class="table table-hover w-100">
								<thead>
									<tr>
										<th scope="col">Nombre</th>
										<th scope="col">Homenajeado</th>
										<th scope="col" title="Lugar de consulta" nowrap>Lugar C</th>
										<th scope="col" title="¿Cómo nos conoció?">¿Cómo &hellip;</th>
										<th scope="col" title="Medio de contacto">Contacto</th>
										<th scope="col">Reserva</th>
										<th scope="col" title="Lugar de reserva" nowrap>Lugar R</th>
										<th scope="col">Atendió</th>
										<th class="text-right">Fecha</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let c of c_filtro">
										<td>{{ c.client_c.nombre }} {{ c.client_c.apellido }}</td>
										<td>{{ c.homenajeado_c.nombre }} {{ c.homenajeado_c.apellido }}</td>
										
										<td>{{ c.place_c.name }}</td>
										<td>{{ c.como_c }}</td>
										<td>{{ c.medio_c }}</td>
										
										<td nowrap>
											<span *ngIf="!c.date_t">
												<i class="far fa-calendar-times text-danger"></i> Sin reserva
											</span>
											
											<span *ngIf="c.date_t">
												<i class="far fa-calendar-check text-success"></i> {{ c.date_t | amLocale:'es' | amDateFormat:'DD/MM/YY' }} {{ c.turno_t.from }} - {{ c.turno_t.to }}
											</span>
										</td>
										
										<td nowrap>{{ c.place_t ? c.place_t.name : '-' }}</td>
										<td>{{ c.usuario.nombre }}</td>
										<td class="text-nowrap text-right"> {{ c.createdAt | amLocale:'es' | amDateFormat:'DD/MM [-] HH:mm' }} </td>
									</tr>
								</tbody>
							</table>
							
						</div>
						
						
						
						
					</div>
					<!-- /.widget-body -->
				</div>
				<!-- /.widget-bg -->
			</div>
			<!-- /.widget-holder -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.widget-list -->
</div>