<div class="container-fluid px-0">
	<div class="widget-list">
		<div class="row">
			<!-- User Summary -->
			<div class="col-12 col-md-4 widget-holder widget-full-content">
				<div class="widget-bg">
					<div class="widget-body clearfix">
						<div class="widget-user-profile">
							<div *ngIf="cliente" class="profile-body">
								<figure class="profile-user-avatar thumb-md mt-4">
									<img [src]="cliente.img | imagen" alt="{{ cliente.nombre }}">
								</figure>
								<h6 class="h3 profile-user-name">{{ cliente.nombre }} {{ cliente.apellido }}</h6>
								<!-- <small class="profile-user-address">Los Angeles, California</small> -->
								<hr class="profile-seperator">
								<div class="profile-user-description mb-4">
									
									
									<ng-container *ngIf="cliente.telefono && usuario.role != 'USER_ROLE'">
										<small class="text-muted ">Teléfono</small>
										<h6 class="mt-0"> {{ cliente.telefono }} </h6>
									</ng-container>
									
									<ng-container *ngIf="cliente.email && usuario.role != 'USER_ROLE'">
										<small class="text-muted p-t-20 db">Email </small>
										<h6 class="mt-0"> {{ cliente.email }} </h6>
									</ng-container>
									
									<ng-container *ngIf="cliente.detalles">
										<small class="text-muted p-t-20 db">Detalle</small>
										<h6 class="mt-0"> {{ cliente.detalles }} </h6>
									</ng-container>
								</div>
								<!-- /.profile-user-description -->
								<div class="mb-5">
									<button (click)="editarCliente()" class="btn btn-outline-primary btn-rounded px-5 text-uppercase fw-700 fs-11">Editar Perfil</button>
									
								</div>
							</div>
							<!-- /.d-flex -->
							<!-- /.row -->
						</div>
						<!-- /.widget-user-profile -->
					</div>
					<!-- /.widget-body -->
				</div>
				<!-- /.widget-bg -->
			</div>
			<!-- /.widget-holder -->
			<!-- Tabs Content -->
			<div class="col-12 col-md-8 mr-b-30">
				
				<ul class="nav nav-tabs contact-details-tab">
					<li class="nav-item">
						<a href="#homenajeados" class="nav-link active" data-toggle="tab">Homenajeados</a>
					</li>
					<li class="nav-item">
						<a (click)="cargarConsultas()" href="#consultas" class="nav-link" data-toggle="tab">Consultas</a>
					</li>
				</ul>
				
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="homenajeados">
						<div *ngFor="let h of homenajeados" class="widget-user-activities">
							<div class="single media">
								<figure class="single-user-avatar thumb-xs2">
									<a href="#">
										<img *ngIf="cliente" class="rounded-circle" [src]="cliente.img | imagen" alt="{{ cliente.nombre }}">
									</a>
								</figure>
								<div class="media-body">
									<div class="single-header clearfix">
										<div class="float-left float-right-rtl">
											<a href="#" class="single-user-name">{{ h.nombre }} {{ h.apellido }}</a>
										</div>
										<button (click)="editarHomenajeado(h._id);isEdit = true" class="btn btn-success btn-xs float-right">
										<i class="fas fa-pencil-alt"></i>&nbsp;editar
										</button>
									</div>
									
									<p>
										<span *ngIf="h.nacimiento">Edad: <strong>{{ h.nacimiento | age }} </strong></span><br>
										<span *ngIf="h.nacimiento">Nacimiento: <strong>{{ h.nacimiento | amLocale:'es' | amDateFormat:'D MMMM [de ] YYYY' }} </strong></span><br>
										<span *ngIf="h.colegio">Colegio: <strong>{{ h.colegio }} </strong></span>
									</p>
									<!-- /.single-attachment -->
								</div>
								<!-- /.media -->
							</div>
							<!-- /.single -->
							
							<!-- /.media-body -->
						</div>
						<!-- /.widget-user-activities -->
						
						
						<div class="widget-user-activities">
							
							<div  class="single media">
								<figure class="single-user-avatar thumb-xs2" style="width: 50px">
								</figure>
								<div class="media-body">
									<div class="single-header clearfix">
										<div class="float-left float-right-rtl">
											
											<button (click)="nuevoHomenajeado();isEdit = false" class="btn btn-outline-success btn-rounded px-5 text-uppercase fw-700 fs-11"><i class="fas fa-plus"></i>&nbsp;Añadir nuevo</button>
										</div>
									</div>
									<!-- /.single-attachment -->
								</div>
								<!-- /.media -->
							</div>
							<!-- /.single -->
							
							<!-- /.media-body -->
						</div>
						<!-- /.widget-user-activities -->
					</div>
					<!-- /.tab-pane -->
					<div role="tabpanel" class="tab-pane" id="consultas">
						
						<div class="widget-user-activities">
							
							<div *ngIf="cargandoC" class="single media">
								<div class="media-body text-center">
									<i class="fas fa-circle-notch fa-spin fa-2x"></i>
								</div>
							</div>
							
							<ng-container *ngIf="!cargandoC">
								<div *ngFor="let c of consultas" class="single media">
									
									<div *ngIf="c.status != 'CONSULTA' && c.status != 'CANCELADO'" class="single-event-icon bg-success">
										<i class="far fa-calendar-check"></i>
									</div>

									<div *ngIf="c.status === 'CANCELADO'" class="single-event-icon bg-danger opacity-05">
										<i class="far fa-calendar-times"></i>
									</div>
									
									<div *ngIf="c.status === 'CONSULTA'" class="single-event-icon bg-secondary">
										<i class="far fa-comment-dots"></i>
									</div>
									<!-- /.single-event-icon -->
									<div class="media-body">
										<div class="single-header clearfix">
											<div class="float-left">
												<span *ngIf="c.status === 'CONSULTA'" class="font-weight-bold text-dark mr-2">Consulta</span>
												<span *ngIf="c.status != 'CONSULTA'" class="font-weight-bold text-dark mr-2">Turno</span>
												<span *ngIf="c.status === 'CANCELADO'" class="text-danger small mr-1">(cancelado)</span>
												<small class="text-secondary"><i class="far fa-fw fa-clock"></i>&nbsp;{{ c.createdAt | amLocale:'es' | amDateFormat:'DD/MM/YYYY [-] HH:mm'}}&nbsp;<span *ngIf="c.createdAt != c.updatedAt" class="font-weight-bold">(Actualizado {{ c.updatedAt | amLocale:'es' | amDateFormat:'DD/MM/YYYY [-] HH:mm'}})</span>&nbsp;<i class="fas fa-fw fa-headset"></i>&nbsp;{{ c.usuario.nombre }} </small>
											</div>
										</div>

										<span [ngClass]="{'opacity-05': c.status === 'CANCELADO'}" class="d-block">

											<button *ngIf="c.status != 'CANCELADO'" (click)="editarConsulta(c._id);isConsultaEdit = true" class="btn btn-success btn-xs float-right">
											<i class="fas fa-pencil-alt"></i>&nbsp;editar
											</button>
											
											<ng-container *ngIf="c.date_t">
												<p class="mb-1"> Reserva: <span class="text-dark">{{ c.date_t | amLocale:'es' | amDateFormat:'dddd D [de] MMMM[,] YYYY' }} </span></p>
												<p class="mb-1"> Seña: <span class="text-dark">${{ c.sena_t }} </span></p>
												<p class="mb-1"> Lugar: <span class="text-dark">{{ c.place_t.name }} - {{ c.turno_t.name }} <small class="text-dark">({{ c.turno_t.from }} - {{ c.turno_t.to }})</small></span></p>
												<p class="mb-1"> Combo: <span class="text-dark">{{ c.combo_t.name }} </span></p>
												<p *ngIf="c.detalles_t" class="mb-1"> Detalles: <span class="text-dark">{{ c.detalles_t }} </span></p>
											</ng-container>
											<hr *ngIf="c.medio_c && c.date_t" class="border-dashed my-2">
											<ng-container *ngIf="c.medio_c">
												<p class="mb-1"> Homenajeado: <span class="text-dark">{{ c.homenajeado_c.nombre }} {{ c.homenajeado_c.apellido }} </span></p>
												<p *ngIf="c.date_c" class="mb-1"> Consulta por: <span class="text-dark">{{ c.date_c | amLocale:'es' | amDateFormat:'dddd D [de] MMMM[,] YYYY' }} </span></p>
												<p class="mb-1"> Consultó por: <span class="text-dark">{{ c.place_c.name }} </span></p>
												<p class="mb-1"> Medio de contacto: <span class="text-dark">{{ c.medio_c }} </span></p>
												<p class="mb-1"> ¿Cómo nos conoció?: <span class="text-dark">{{ c.como_c }} </span></p>
												<p *ngIf="c.detalles_c" class="mb-1"> Detalles: <span class="text-dark">{{ c.detalles_c }} </span></p>
											</ng-container>

										</span>

									</div>
									<!-- /.media-body -->
								</div>
							</ng-container>
							
						</div>
						
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div>
			<!-- /.col-sm-8 -->
		</div>
		
	</div>
	
</div>

<ngx-smart-modal #editarClienteModal (onAnyCloseEvent)="formaEdit.reset()" identifier="editarClienteModal" [closable]="false">
	
	<div class="modal-header px-0 pt-0 pb-2 m-0">
		<h6 class="modal-title">Editar Cliente</h6>
		<button (click)="editarClienteModal.close()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div class="modal-body pb-0">
		
		<form novalidate [formGroup]="formaEdit" (ngSubmit)="actualizarCliente(formaEdit.value)" class="form-material">
			
			<div class="row">
				
				<div class="col-lg-6 d-none">
					
					<div class="form-group" [ngClass]="{'has-danger': formaEdit.get('_id').errors?.required && formaEdit.get('_id').touched }">
						<input formControlName="_id" class="form-control" type="text" id="_id">
						<label for="_id">ID</label>
						
						<div *ngIf="formaEdit.get('_id').errors?.required && formaEdit.get('_id').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					
					<div class="form-group" [ngClass]="{'has-danger': formaEdit.get('nombre').errors?.required && formaEdit.get('nombre').touched }">
						<input formControlName="nombre" class="form-control" type="text" id="nombre">
						<label for="nombre">Nombre <span class="text-danger">*</span></label>
						
						<div *ngIf="formaEdit.get('nombre').errors?.required && formaEdit.get('nombre').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group">
						<input formControlName="apellido" class="form-control" type="text" id="apellido">
						<label for="apellido">Apellido</label>
						
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group" [ngClass]="{'has-danger': formaEdit.get('email').errors?.pattern}">
						<input formControlName="email" class="form-control" type="email" id="email">
						<label for="email">Email</label>
						
						<div *ngIf="formaEdit.get('email').errors?.pattern && formaEdit.get('email').touched" class="small form-control-feedback">
							Ingrese un email valido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group">
						<input formControlName="telefono" class="form-control" type="text" id="telefono">
						<label for="telefono">Teléfono</label>
					</div>
				</div>
				
				<div class="col-lg-6">
					
					<div class="form-group">
						<input formControlName="detalles" class="form-control" type="text" id="detalles">
						<label for="detalles">Detalles</label>
					</div>
				</div>
				
				<div class="col-lg-12">
					<button (click)="borrarCliente()" class="btn btn-danger ripple" type="button"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
					<button [disabled]="!formaEdit.valid" class="btn btn-primary float-right ripple" type="submit"><i class="fas fa-save"></i>&nbsp;Guardar</button>
				</div>
			</div>
		</form>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #editarHomenajeadoModal (onAnyCloseEvent)="formaH.reset()" identifier="editarHomenajeadoModal" [closable]="false">
	
	<div class="modal-header px-0 pt-0 pb-2 m-0">
		<h6 class="modal-title">{{ titleModal }} Homenajeado</h6>
		<button (click)="editarHomenajeadoModal.close()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div class="modal-body pb-0">
		
		<form novalidate [formGroup]="formaH" (ngSubmit)="guardarHomenajeado(formaH.value)" class="form-material">
			
			<div class="row">
				
				<div class="col-lg-6 d-none">
					
					<div class="form-group" [ngClass]="{'has-danger': formaH.get('_id').errors?.required && formaH.get('_id').touched }">
						<input formControlName="_id" class="form-control" type="text" id="_id">
						<label for="_id">Mamá - Papá</label>
						
						<div *ngIf="formaH.get('_id').errors?.required && formaH.get('_id').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6 d-none">
					
					<div class="form-group" [ngClass]="{'has-danger': formaH.get('parent').errors?.required && formaH.get('parent').touched }">
						<input formControlName="parent" class="form-control" type="text" id="parent">
						<label for="parent">Mamá - Papá</label>
						
						<div *ngIf="formaH.get('parent').errors?.required && formaH.get('parent').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					
					<div class="form-group" [ngClass]="{'has-danger': formaH.get('nombre').errors?.required && formaH.get('nombre').touched }">
						<input formControlName="nombre" class="form-control" type="text" id="nombre">
						<label for="nombre">Nombre <span class="text-danger">*</span></label>
						
						<div *ngIf="formaH.get('nombre').errors?.required && formaH.get('nombre').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group">
						<input formControlName="apellido" class="form-control" type="text" id="apellido">
						<label for="apellido">Apellido</label>
						
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group">
						<input formControlName="nacimiento" class="form-control" type="date" id="nacimiento">
						<label for="nacimiento">Fecha de Nacimiento</label>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select">
						
						<ng-select
							[selectOnTab]="true"
							notFoundText="No se encontraron resultados"
							formControlName="genero"
							class="p-0"
							id="genero">
							<ng-option value="Femenino">Femenino</ng-option>
							<ng-option value="Masculino">Masculino</ng-option>
						</ng-select>
						
						<label for="genero">Género</label>
					</div>
				</div>
				
				<div class="col-lg-6">
					
					<div class="form-group">
						<input formControlName="colegio" class="form-control" type="text" id="colegio">
						<label for="colegio">Colegio</label>
					</div>
				</div>
				
				<div class="col-lg-12">
					<button *ngIf="isEdit" (click)="borrarHomenajeado(formaH.value)" class="btn btn-danger ripple" type="button"><i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
					<button [disabled]="!formaH.valid" class="btn btn-primary float-right ripple" type="submit"><i class="fas fa-save"></i>&nbsp;Guardar</button>
				</div>
			</div>
		</form>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #editarConsultaModal (onAnyCloseEvent)="formaC.reset()" identifier="editarConsultaModal" [closable]="false">
	
	<div class="modal-header px-0 pt-0 pb-2 m-0">
		<h6 class="modal-title">Editar Consulta</h6>
		<button (click)="editarConsultaModal.close()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div class="modal-body pb-0">
		
		<form novalidate [formGroup]="formaC" (ngSubmit)="actualizarConsulta()" class="form-material">

			<div formGroupName="consulta" class="row">

				<!-- <div class="col-lg-12">
					<pre>
						{{ formaC.value | json }}
						<hr>
						{{ formaC.valid }}
					</pre>
				</div> -->

				<div class="col-lg-6 d-none">
					<div class="form-group">
						<input formControlName="_id" id="_id" name="_id" class="form-control" type="text">
						<label for="_id">_id</label>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('consulta.medio_c').errors?.required && formaC.get('consulta.medio_c').touched }">
						<ng-select
							[selectOnTab]="true"
							notFoundText="No se encontraron resultados"
							formControlName="medio_c"
							class="p-0"
							id="medio_c">
							<ng-option value="E-mail">E-mail</ng-option>
							<ng-option value="Teléfono">Teléfono</ng-option>
							<ng-option value="Redes Sociales">Redes Sociales</ng-option>
							<ng-option value="WhatsApp">WhatsApp</ng-option>
							<ng-option value="Personalmente">Personalmente</ng-option>
						</ng-select>
						<label for="medio_c">Medio de contacto <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('consulta.medio_c').errors?.required && formaC.get('consulta.medio_c').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
						
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('consulta.como_c').errors?.required && formaC.get('consulta.como_c').touched }">
						<ng-select
							[selectOnTab]="true"
							notFoundText="No se encontraron resultados"
							formControlName="como_c"
							class="p-0"
							id="como_c">
							<ng-option value="Internet">Internet</ng-option>
							<ng-option value="Redes Sociales">Redes Sociales</ng-option>
							<ng-option value="Amigos/Familiar">Amigos/Familiar</ng-option>
						</ng-select>
						<label for="como_c">¿Cómo nos conoció? <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('consulta.como_c').errors?.required && formaC.get('consulta.como_c').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
						
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('consulta.place_c').errors?.required && formaC.get('consulta.place_c').touched }">
						<ng-select [items]="places_c"
							[selectOnTab]="true"
							bindValue="_id"
							bindLabel="name"
							notFoundText="No se encontraron resultados"
							formControlName="place_c"
							class="p-0"
							id="place_c">
						</ng-select>
						<label for="place_c">Consulta por <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('consulta.place_c').errors?.required && formaC.get('consulta.place_c').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
						
					</div>
				</div>
				
				<div class="col-lg-6">					
					<div class="form-group form-select">
						<!-- <input formControlName="consulta.date_c" id="consulta.date_c" name="consulta.date_c" class="form-control" type="date"> -->
						<div class="input-group">
							<input class="form-control" placeholder="DD/MM/AAAA" name="date_c" formControlName="date_c" ngbDatepicker #dc="ngbDatepicker" (click)="dc.toggle()">
							<div class="input-group-append">
								<button class="btn btn-outline-inverse border-bottom text-gray" (click)="dc.toggle()" type="button"> <i class="fa fa-calendar"></i> </button>
							</div>
						</div>
						<label for="date_c">Consulta por día</label>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group mb-2">
						<textarea formControlName="detalles_c" name="detalles_c" class="form-control" rows="1"></textarea>
						<label for="detalles_c">Detalles</label>
					</div>
				</div>

				<div *ngIf="!isTurno" class="col-lg-6">
					<div class="form-group mb-2">
						<button (click)="isTurno = !isTurno" class="btn btn-info"><i class="far fa-fw fa-calendar-check"></i> Agendar turno</button>
					</div>
				</div>
				
			</div>
			
			<div formGroupName="turno" class="row" [ngClass]="{'d-none': !isTurno, 'd-flex': isTurno}" >

				<div class="col-sm-12 mt-0">
					<h5 class="col-form-label-lg border-top border-secondary"><i class="far fa-fw fa-calendar-check"></i> Detalles del turno</h5>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select mt-2">
						<!-- <input formControlName="date_t" id="date_t" name="date_t" class="form-control" type="date"> -->
						<div class="input-group">
							<input (change)="formaC.get('turno.place_t').reset()" (click)="d.toggle();formaC.get('turno.place_t').reset()" class="form-control" placeholder="DD/MM/YYYY" name="date_t" formControlName="date_t" ngbDatepicker #d="ngbDatepicker">
							<div class="input-group-append">
								<button class="btn btn-outline-inverse border-bottom text-gray" (click)="d.toggle();formaC.get('turno.place_t').reset()" type="button"> <i class="fa fa-calendar"></i> </button>
							</div>
						</div>
						<label for="date_t">Día <span class="text-danger">*</span></label>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('turno.place_t').errors?.required && formaC.get('turno.place_t').touched }">
						<ng-select [items]="places_t"
							(change)="formaC.get('turno.turno_t').reset()"
							[selectOnTab]="true"
							[loading]="cargandoP"
							bindValue="_id"
							bindLabel="name"
							notFoundText="No se encontraron resultados"
							formControlName="place_t"
							class="p-0"
							id="place_t">

							<ng-template ng-option-tmp ng-label-tmp let-item="item">
								{{ item.name }}
							</ng-template>

						</ng-select>
						<label for="place_t">Seleccionar Lugar <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('turno.place_t').errors?.required && formaC.get('turno.place_t').touched" class="small text-danger">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('turno.turno_t').errors?.required && formaC.get('turno.turno_t').touched }">
						<ng-select [items]="turnos"
							[loading]="cargandoT"
							bindValue="_id"
							notFoundText="No se encontraron resultados"
							formControlName="turno_t"
							class="p-0"
							id="turno_t">
							
							<ng-template ng-option-tmp ng-label-tmp let-item="item">
								{{ item.name }}: {{ item.from }} - {{ item.to }}
							</ng-template>
							
						</ng-select>
						<label for="turno_t">Seleccionar Turno <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('turno.turno_t').errors?.required && formaC.get('turno.turno_t').touched" class="small text-danger">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('turno.combo_t').errors?.required && formaC.get('turno.combo_t').touched }">
						
						<ng-select [items]="combos"
							[selectOnTab]="true"
							[loading]="cargandoC"
							bindValue="_id"
							bindLabel="name"
							notFoundText="No se encontraron resultados"
							formControlName="combo_t"
							name="combo_t"
							class="p-0">
						</ng-select>
						<label for="combo_t">Seleccionar Combo <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('turno.combo_t').errors?.required && formaC.get('turno.combo_t').touched" class="small text-danger">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-3">
					<div class="form-group" [ngClass]="{'has-danger': formaC.get('turno.sena_t').errors?.required && formaC.get('turno.sena_t').touched }">
						<input formControlName="sena_t" id="sena_t" name="sena_t" class="form-control" type="number">
						<label for="sena_t">Seña <span class="text-danger">*</span></label>
						<div *ngIf="formaC.get('turno.sena_t').errors?.required && formaC.get('turno.sena_t').touched" class="small text-danger">
							Este campo es requerido
						</div>
					</div>
					
					
				</div>
				
				<div class="col-md-6 col-lg-3">
					<div class="form-group form-select" [ngClass]="{'has-danger': formaC.get('turno.sena_m').errors?.required && formaC.get('turno.sena_m').touched }">
						<!-- <input formControlName="sena_m" id="sena_m" name="sena_m" class="form-control" type="number"> -->
						<ng-select
							[selectOnTab]="true"
							notFoundText="No se encontraron resultados"
							formControlName="sena_m"
							name="sena_m"
							class="p-0">
							<ng-option value="Debito">Débito</ng-option>
							<ng-option value="Efectivo">Efectivo</ng-option>
							<ng-option value="Tarjeta">Tarjeta</ng-option>
							<ng-option value="Transferencia">Transferencia</ng-option>
						</ng-select>
						<label for="sena_m">Seña Medio de pago <span class="text-danger">*</span></label>
						
						<div *ngIf="formaC.get('turno.sena_m').errors?.required && formaC.get('turno.sena_m').touched" class="small text-danger">
							Este campo es requerido
						</div>
					</div>
					
				</div>
				
				<div class="col-lg-6">
					<div class="form-group">
						<textarea formControlName="detalles_t" id="detalles_t" name="detalles_t" rows="1" class="form-control"></textarea>
						<label for="detalles_t">Detalles sobre el turno</label>
					</div>
				</div>
				
			</div>
			<!-- end formGroupName turno -->
			
			<!-- submit -->
			<div class="col-lg-12">
				<div class="text-right">
					<button [disabled]="!formaC.valid" class="btn btn-success ripple" type="submit"><i class="fas fa-fw fa-check"></i>&nbsp;Guardar</button>
				</div>
			</div>
		</form>
		
	</div>
</ngx-smart-modal>