<div class="container-fluid px-0">
	<div class="widget-list">
		<div class="row">
			<div class="widget-holder col-md-12">
				<div class="widget-bg">
					<div class="widget-heading widget-heading-border">
						<h6 class="mb-0 mr-auto">Lugares ({{ totalRegistros }})</h6>
						<button (click)="nuevoLugar()" class="btn btn-primary text-uppercase">Nuevo Lugar</button>
					</div>
					<!-- /.widget-heading -->
					<div class="widget-body">
						
						<div class="d-block float-left">
							<label>Mostrar
								<select (change)="onChange($event.target.value)" name="myTable_length" class="">
									<option *ngFor="let i of verDatos" value="{{i}}">{{i}}</option>
								</select>
							resultados</label>
						</div>
						
						<div class="d-block float-right">
							<div class="form-group mb-1">
								<input #search (keyup.enter)="buscarDatos(search.value)" type="search" class="form-control form-control-sm" placeholder="Buscar">
							</div>
						</div>
						
						<table class="table table-bordered table-hover">
							<thead class="thead-light">
								<tr>
									<th scope="col">Nombre</th>
									<th scope="col">Descripción</th>
									<th scope="col">Colores</th>
								</tr>
							</thead>
							<tbody>
								
								<tr *ngIf="cargando" role="row" class="text-center">
									<td colspan="5"><i class="fas fa-circle-notch fa-spin fa-2x"></i></td>
								</tr>
								
								<tr *ngIf="(pager.totalItems === 0 || totalRegistros === 0) && !cargando" role="row" class="text-center">
									<td colspan="5"><i class="far fa-meh fa-2x"></i> No se encontraron resultados</td>
								</tr>
								
								<ng-container *ngIf="pager.totalItems > 0 && !cargando">
									<tr (click)="verLugar( p._id )" *ngFor="let p of places" class="cursor-pointer">
										<td>{{ p.name }}</td>
										<td>{{ p.desc }}</td>
										<td>
											<span *ngIf="p.color1" [style.background]="p.color1.color_a" class="badge text-white text-uppercase p-2 mr-1">Turno Agendado</span>
								    	<span *ngIf="p.color1" [style.background]="p.color1.color_b" class="badge text-white text-uppercase p-2 mr-1">Finalizado</span>
								    	<span *ngIf="p.color1" [style.background]="p.color1.color_c" class="badge text-white text-uppercase p-2 mr-1">Cancelado</span>
								    </td>
									</tr>
								</ng-container>
								
							</tbody>
						</table>
						
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li (click)="setPage(pager.currentPage - 1)" [ngClass]="{disabled:pager.currentPage === 1}" class="page-item"><a class="page-link">Anterior</a></li>
								
								<li *ngFor="let page of pager.pages" (click)="setPage(page)" [ngClass]="{active:pager.currentPage === page}" class="page-item"><a class="page-link"> {{ page }} </a></li>
								
								<li (click)="setPage(pager.currentPage + 1)" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item"><a class="page-link">Siguiente</a></li>
							</ul>
						</nav>
						
					</div>
					<!-- /.widget-body -->
				</div>
				<!-- /.widget-bg -->
			</div>
			<!-- /.widget-holder -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.widget-list -->
</div>

<ngx-smart-modal #nuevoLugarModal (onAnyCloseEvent)="forma.reset()" identifier="nuevoLugarModal" [closable]="false">
	
	<div class="modal-header px-0 pt-0 pb-2 m-0">
		<h6 class="modal-title">Nuevo Lugar</h6>
		<button (click)="nuevoLugarModal.close()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div class="modal-body pb-0">
		
		<form novalidate [formGroup]="forma" (ngSubmit)="guardarLugar()" class="form-material">
			
			<div class="row">
				<div class="col-lg-6">
					
					<div class="form-group" [ngClass]="{'has-danger': forma.get('name').errors?.required && forma.get('name').touched }">
						<input formControlName="name" class="form-control" type="text" id="name" placeholder="Nombre del lugar" required>
						<label for="name">Nombre</label>
						
						<div *ngIf="forma.get('name').errors?.required && forma.get('name').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group">
						<input formControlName="desc" class="form-control" type="text" id="desc" placeholder="Descripción">
						<label for="desc">Descripción</label>
					</div>
				</div>
				
				<div class="col-lg-6">
					<div class="form-group form-select">
						<ng-select [items]="colors" bindValue="id" formControlName="color1">
					    <ng-template ng-option-tmp ng-label-tmp let-item="item">
					    	<span class="badge text-white text-uppercase p-2 mr-1" [style.background-color]="item.color_a">Turno Agendado</span>
					    	<span class="badge text-white text-uppercase p-2 mr-1" [style.background-color]="item.color_b">Finalizado</span>
					    	<span class="badge text-white text-uppercase p-2 mr-1" [style.background-color]="item.color_c">Cancelado</span>
					    </ng-template>
						</ng-select>
						<label for="color1">Color en turnero</label>
					</div>
				</div>

				<div class="col-lg-12">
					<div class="text-right">
						<button [disabled]="!forma.valid" class="btn btn-primary ripple" type="submit">Guardar</button>
					</div>
				</div>
			</div>
		</form>
		
	</div>
</ngx-smart-modal>

<ngx-smart-modal #editarLugarModal (onAnyCloseEvent)="removeData()" identifier="editarLugarModal" [closable]="false">
	
	<div class="modal-header px-0 pt-0 pb-2 m-0">
		<h5 class="modal-title">{{ titleModal }}</h5>
		<button (click)="editarLugarModal.close()" type="button" class="close" data-dismiss="modal" aria-label="Close" >
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	
	<div class="modal-body pb-0">
		
		<form novalidate [formGroup]="formaEdit" (ngSubmit)="actualizarLugar(formaEdit.value)" class="form-material" [ngClass]="{'only-view': !isEdit}">
			
			<div class="row">
				
				<div class="col-lg-6 d-none">
					<div class="form-group">
						<label for="_id">_id</label>
						<input formControlName="_id" name="_id" type="text" class="form-control">
					</div>
				</div>
				
				<div class="col-lg-6">
					
					<div class="form-group" [ngClass]="{'has-danger': formaEdit.get('name').errors?.required && formaEdit.get('name').touched }">
						<input formControlName="name" class="form-control" type="text" id="name" placeholder="Nombre del lugar" required>
						<label for="name">Nombre</label>
						
						<div *ngIf="formaEdit.get('name').errors?.required && formaEdit.get('name').touched" class="small pos-absolute form-control-feedback">
							Este campo es requerido
						</div>
					</div>
				</div>
				
				<div class="col-lg-6">
					
					<div class="form-group">
						<input formControlName="desc" class="form-control" type="text" id="desc" placeholder="Descripción">
						<label for="desc">Descripción</label>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="form-group form-select">
						<ng-select [items]="colors" bindValue="id" formControlName="color1">
					    <ng-template ng-option-tmp ng-label-tmp let-item="item">
					    	<span class="badge text-white text-uppercase p-2 mr-1" [style.background-color]="item.color_a">Turno Agendado</span>
					    	<span class="badge text-white text-uppercase p-2 mr-1" [style.background-color]="item.color_b">Finalizado</span>
					    	<span class="badge text-white text-uppercase p-2 mr-1" [style.background-color]="item.color_c">Cancelado</span>
					    </ng-template>
						</ng-select>
						<label for="color1">Color en turnero</label>
					</div>
				</div>
				
				<div class="col-lg-12 form-group mb-0">
					
					<div class="clearfix"></div>
					<hr>
					<div *ngIf="editarLugarModal.hasData()" class="text-right">
						<button *ngIf="!isEdit" (click)="isEdit = !isEdit;editarLugar()" class="btn btn-secondary" type="button"><i class="fas fa-fw fa-pencil-alt mr-1"></i> Editar Lugar</button>
						
						<button *ngIf="isEdit" (click)="borrarLugar(editarLugarModal.getData())" class="btn btn-danger float-left" type="button"><i class="fas fa-fw fa-trash-alt mr-1"></i> Eliminar Lugar</button>
						
						<button *ngIf="isEdit" (click)="isEdit = !isEdit;editarLugar()" class="btn btn-secondary mr-1" type="button"><i class="fas fa-fw fa-times mr-1"></i> Cancelar</button>
						
						<button *ngIf="isEdit" [disabled]="!formaEdit.valid" class="btn btn-success ripple" type="submit">Guardar</button>
					</div>
					
				</div>
				
			</div>
		</form>
	</div>
</ngx-smart-modal>